article.about {
	margin-bottom: $footer_height + 15px;
	padding-bottom: 10px;

	img {
		max-width: 100%;
	}

	.description {
		background-color: lighten($bg_color, 10%);
		padding: 5px 20px;
		h2 {
			color: $timeline2;
		}
	}

	.row {
		margin-bottom: 25px;
	}
	.shadow-right {
		// background-color: lighten($bg_color, 10%);
		// for img should do ::after stuff
		box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 2px 3px darken(#ccc, 45%);
	}
	.shadow-left {
		// background-color: lighten($bg_color, 10%);
		box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 2px 3px darken(#ccc, 45%);
	}

	.officers {
		h2 {
			text-align: center;
		}
		li {
			padding-bottom: 5px;
		}
	}
}