@import "shared";

.timeline {
	margin: 30px 0 0 0;
	list-style: none;
	position: relative;

	/* The line */
	&:before {
		content: '';
		position: absolute;
		top: -75px;
		bottom: 0;
		width: 10px;
		background: $timeline_extra;
		left: 17%;
		margin-left: -10px;
	}

	/* The date/time */
	li .cbp_tmtime {
		display: block;
		width: 17%;
		padding-right: 100px;
		position: absolute;
	}

	li .cbp_tmtime span {
		display: block;
		text-align: right;
	}

	li .cbp_tmtime span:first-child {
		font-size: 0.9em;
		color: $timeline_extra;
	}

	li .cbp_tmtime span:last-child {
		font-size: 2.9em;
		color: $timeline1;
	}

	li:nth-child(odd) .cbp_tmtime span:last-child {
		color: $timeline2;
	}

	/* Right content */
	li .cbp_tmlabel {
		margin: 0 70px 15px 21%;
		background: $timeline1;
		color: #fff;
		padding: 2em;
		font-size: 1.2em;
		font-weight: 300;
		line-height: 1.4;
		position: relative;
		border-radius: 5px;
	}

	li:nth-child(odd) .cbp_tmlabel {
		background: $timeline2;
	}

	li .cbp_tmlabel h2 { 
		margin-top: 0px;
		padding: 0 0 10px 0;
		border-bottom: 1px solid rgba(255,255,255,0.4);
	}

	/* The triangle */
	li .cbp_tmlabel:after {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-right-color: $timeline1;
		border-width: 10px;
		top: 10px;
	}

	li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: $timeline2;
	}

	/* The icons */
	li .cbp_tmicon {
		width: $icon_size;
		height: $icon_size;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		font-size: 1.4em;
		line-height: 60px;
		-webkit-font-smoothing: antialiased;
		position: absolute; // change to absolute later
		color: #fff;
		// background: $timeline_icon;
		border-radius: 50%;
		box-shadow: 0 0 0 4px $timeline_extra;
		text-align: center;
		left: 15.7%;
		top: 0;
		margin: 0 0 0 -25px;
	}

	/* Example Media Queries */
	@media screen and (max-width: 65.375em) {

		li .cbp_tmtime span:last-child {
			font-size: 1.5em;
		}
	}

	@media screen and (max-width: 47.2em) {
		.cbp_tmtimeline:before {
			display: none;
		}

		li .cbp_tmtime {
			width: 100%;
			position: relative;
			padding: 0 0 20px 0;
		}

		li .cbp_tmtime span {
			text-align: left;
		}

		li .cbp_tmlabel {
			margin: 0 0 30px 0;
			padding: 1em;
			font-weight: 400;
			font-size: 95%;
		}

		li .cbp_tmlabel:after {
			right: auto;
			left: 20px;
			border-right-color: transparent;
			border-bottom-color: $timeline1;
			top: -20px;
		}

		li:nth-child(odd) .cbp_tmlabel:after {
			border-right-color: transparent;
			border-bottom-color: $timeline2;
		}

		li .cbp_tmicon {
			position: relative;
			float: right;
			left: auto;
			margin: -55px 5px 0 0px;
		}	
	}
}

