html, body {
  height: 100%; }

#wrap {
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 50px; }

/* must be same height as the footer */
#footer {
  position: relative;
  margin-top: -50px;
  /* negative value of footer height */
  height: 50px;
  clear: both;
  background-color: #7a7a7a; }

body {
  background-image: url(../img/wild_oliva.png);
  font-family: 'Helvetica Neue'; }

/* Navigation Bar */
header .home {
  padding-top: 40px;
  padding-left: 200px;
  padding-bottom: 40px; }
  header .home .team {
    padding-top: 15px;
    font-size: 1.7em; }
  header .home a {
    color: white;
    text-decoration: none; }
  header .home .ucb {
    font-size: 1em;
    font-weight: normal;
    display: block; }
  header .home .seal {
    width: 80px;
    height: 80px;
    padding-right: 10px;
    float: left;
    position: relative;
    top: -16px; }
header .nav-2 {
  width: 100%;
  background-color: #939393;
  text-align: center;
  padding: 1px 0px;
  margin-bottom: 25px; }
  header .nav-2 ul {
    list-style-type: none; }
    header .nav-2 ul li {
      display: inline;
      padding: 10px 40px; }
  header .nav-2 a {
    font-size: 1.1em;
    color: #2d2d2d;
    text-decoration: none; }
    header .nav-2 a:hover {
      color: #606060; }
header .nav {
  padding-bottom: 15px;
  text-align: center; }
  header .nav ul {
    list-style-type: none; }
    header .nav ul li {
      display: inline; }
    header .nav ul li:first-child a {
      border-radius: 3px 0px 0px 3px; }
    header .nav ul li:last-child a {
      border-radius: 0px 3px 3px 0px; }
  header .nav a {
    margin-right: -4px;
    padding: 12px 60px;
    background: linear-gradient(#737373 5%, #525252);
    text-transform: uppercase;
    text-decoration: none;
    color: #aeaeae;
    text-shadow: 0px 1px #404040;
    letter-spacing: .05em;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    box-shadow: 0px 5px 3px -3px #272727; }
    header .nav a:hover {
      color: #cccccc; }
    header .nav a:hover, header .nav a.selected {
      box-shadow: 0px 5px 3px -3px #272727, inset 0px 0px 6px 3px #4d4d4d; }
    header .nav a.selected {
      border-left: 1px solid #676767;
      border-right: 1px solid #676767;
      border-top: 1px solid #676767; }

#footer {
  text-align: center;
  font-size: .9em; }
  #footer .pure-u-1-5 {
    padding-top: 10px;
    padding-bottom: 10px; }
  #footer a {
    text-decoration: none;
    color: #555555; }
  #footer ul {
    list-style-type: none; }
  #footer .heading {
    color: #ccc; }

article {
  background-color: #4d4d4d;
  border-top: 7px solid #2c2c2c;
  box-shadow: 0 -1px 2px -1px #8d8d8d; }
  article.sponsors {
    background-color: #aaa; }
  article.history {
    background-color: #777777; }

.centerpiece {
  text-align: center;
  position: relative;
  top: -58px; }
  .centerpiece img {
    width: 80px;
    height: 80px; }

.pure-menu {
  text-align: center; }

/* Index (Home) Page */
.welcome {
  margin-bottom: 100px; }
  .welcome .pure-u-1-3 h3 {
    text-align: center; }

#slides {
  padding-top: 35px; }

.temp-photo {
  width: 100%; }

/* History Page */
.timeline {
  padding-top: 25px;
  padding-bottom: 50px; }

/* Sponsors Page */
.pure-g.sponsors .pure-u-1-5 .logo {
  width: 250px;
  height: 250px;
  background-color: #ccc;
  margin: 6px 6px;
  position: relative;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px #737373; }
  .pure-g.sponsors .pure-u-1-5 .logo img {
    margin: auto;
    max-height: 250px;
    max-width: 250px;
    position: absolute;
    top: 0;
    bottom: 0; }
