@import "shared";

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: $footer_height;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -$footer_height; /* negative value of footer height */
	height: $footer_height;
	clear:both;
} 

body {
	background-image: url(../img/wild_oliva.png);
}

/* Navigation Bar */
.nav {
	padding-bottom: 15px;
	text-align: center;
	ul {
		list-style-type: none;
		li {
			display: inline;
		}
		li:first-child a {
			border-radius: 4px 0px 0px 4px;
		}
		li:last-child a {
			border-radius: 0px 4px 4px 0px;
		}
	}

	a {
		margin-right: -4px;
		padding: 12px 60px;
		background: linear-gradient(lighten($nav_color, 5%) 5%,  darken($nav_color, 10%));
		text-transform: uppercase;
		text-decoration: none;
		color: lighten($nav_color, 28%);
		text-shadow: 0px 1px darken($nav_color, 15%);
		letter-spacing: .05em;
		border-top: 1px solid lighten($nav_color, 10%);
		border-left: 1px solid lighten($nav_color, 10%);
		box-shadow: 0px 5px 3px -3px darken($nav_color, 25%);

		&:hover {
			color: lighten($nav_color, 40%);
		}
		&:hover, &.selected {
			box-shadow: 0px 5px 3px -3px darken($nav_color, 25%),
						inset 0px 0px 6px 3px darken($nav_color, 10%);
		}
		&.selected {
			border-left: 1px solid $nav_color;
			border-right: 1px solid $nav_color;
			border-top: 1px solid $nav_color;
		}
	}
}


#footer {
	.pure-u-1-5 {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	text-align: center;
	font-size: .9em;
	a {
		text-decoration: none;
		color: #555555;
	}
	ul {
		list-style-type: none;
	}
	.heading {
		color: #ccc;
	}
}

.bar {
	height: 10px;
	&.blue {
		background-color: $blue;
	}
	&.gold {
		background-color: $gold;
	}
}

article {
	background-color: $bg_color;
	border-top: 7px solid darken($bg_color, 13%);
	box-shadow: 0 -1px 2px -1px lighten($bg_color, 25%);

	&.sponsors {
		background-color: #aaa;
	}
	&.history {
		background-color: #777777;
	}
}

.centerpiece {
	text-align: center;
	position: relative;
	top: -58px;
	img {
		width: 80px;
		height: 80px;
	}
}
.temp-spacer {
	width: 60px;
}

.page-title {
	color: white;
	text-align: center;
	font-size: 1.3em;
	padding: 10px;
	font-weight: bold;

	.ucb {
		font-size: .85em;
		font-weight: normal;
	}
}
.pure-menu {
	text-align: center;
}
.team-pic {
	text-align: center;
}

/* Index (Home) Page */
.welcome {
	margin-bottom: 100px;
	.pure-u-1-3 {
		h3 {
			text-align: center;
		}
	}
}
#slides {
	padding-top: 35px;
}

/* History Page */
.timeline {
	padding-top: 25px;
	padding-bottom: $footer_height;
}

// Photos Page

/* Sponsors Page */
.pure-g.sponsors {
	.pure-u-1-5 .logo {
		width: 250px;
		height: 250px;
		background-color: #ccc;
		margin: 6px 6px;
		position: relative;
		box-shadow: inset 0 1px rgba(255,255,255,0.2), 0 1px 2px darken(#ccc, 35%);
		img {
			margin: auto;
			max-height: 250px;
			max-width: 250px;
			position: absolute;
			top: 0;
			bottom: 0;
		}
	}
}

// Contact Page
