@import "shared";
@import "index";
@import "history";
@import "timeline";
@import "timeline-base";
@import "about";

html, body {
	height: 100%;
	min-width: 768px; // starts breaking when skinnier than this
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: $footer_height;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -$footer_height; /* negative value of footer height */
	height: $footer_height;
	clear: both;
	display: block;
} 

body {
	background-image: url(../img/wild_oliva.png);
	font-family: 'helvetica neue', sans-serif;
}

/* Navigation Bar */
header {
	// Home Button
	.home-2 {
		.team {
			padding-top: 15px;
			font-size: 1.8em;
		}
		padding-top: 40px;
		padding-left: 100px;
		padding-bottom: 40px;
		a {
			color: white;
			text-decoration: none;
		}

		.ucb {
			font-size: 1.1em;
			font-weight: normal;
			display: block;
		}
		.seal {
			width: 80px;
			height: 80px;
			padding-right: 10px;
			float: left;
			position: relative;
			top: -13px;
		}
	}

	.nav-2 {
		width: 100%;
		background-color: $nav_color2;
		text-align: center;
		ul {
			box-shadow: 0px 0px 0px 15px $nav_color2;
			list-style-type: none;
			li {
				display: inline;
			}
		}
		a {
			margin-left: -4px;
			padding: 15px 40px;
			font-size: 1.1em;
			color: $bg_color;
			text-decoration: none;
			&:hover {
				color: lighten($bg_color, 20%);
				background-color: rgba($nav_color2, .9);
			}
			// background-color: $nav_color2;
			&.selected {
				background-color: $bg_color;
				color: rgba($nav_color2, .9);
			}
		}
	}

	.home {
		.team {
			padding-top: 15px;
			font-size: 1.7em;
		}
		text-align: center;
		padding-top: 20px;

		padding-bottom: 20px;
		a {
			color: white;
			text-decoration: none;
		}

		.ucb {
			font-size: 1em;
			font-weight: normal;
			display: block;
		}
		.seal {
			display: none;
		}
	}

	.nav {
		padding-bottom: 15px;
		text-align: center;
		$nav_rad: 3px;
		ul {
			list-style-type: none;
			li {
				display: inline;
			}
			li:first-child a {
				border-radius: $nav_rad 0px 0px $nav_rad;
			}
			li:last-child a {
				border-radius: 0px $nav_rad $nav_rad 0px;
			}
		}

		a {
			margin-right: -4px;
			padding: 12px 60px;
			background: linear-gradient(lighten($nav_color, 5%) 5%,  darken($nav_color, 8%));
			text-transform: uppercase;
			text-decoration: none;
			color: lighten($nav_color, 28%);
			text-shadow: 0px 1px darken($nav_color, 15%);
			letter-spacing: .05em;
			border-top: 1px solid lighten($nav_color, 10%);
			border-left: 1px solid lighten($nav_color, 10%);
			box-shadow: 0px 5px 3px -3px darken($nav_color, 25%);

			&:hover {
				color: lighten($nav_color, 40%);
			}
			&:hover, &.selected {
				box-shadow: 0px 5px 3px -3px darken($nav_color, 25%),
							inset 0px 0px 6px 3px darken($nav_color, 10%);
			}
			&.selected {
				border-left: 1px solid $nav_color;
				border-right: 1px solid $nav_color;
				border-top: 1px solid $nav_color;
			}
		}
	}
}


#footer {
	.pure-u-1-5 {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	text-align: center;
	font-size: .9em;
	a {
		text-decoration: none;
		color: #555555;
	}
	ul {
		list-style-type: none;
	}
	.heading {
		color: #ccc;
	}
}

article {
	margin-top: -2px;
	padding-top: 45px;
	background-color: $bg_color;

	&.sponsors {
		background-color: #aaa;
		padding-bottom: 75px;
	}
	&.history {
		background-color: #777777;
	}
}

.centerpiece {
	text-align: center;
	position: relative;
	top: -58px;
	img {
		width: 80px;
		height: 80px;
	}
}

.pure-menu {
	text-align: center;
}

/* Photos Page */

/* Sponsors Page */
.pure-g.sponsors {
	.pure-u-1-5 .logo {
		width: 250px;
		height: 250px;
		background-color: #ccc;
		margin: 6px 6px;
		position: relative;
		box-shadow: inset 0 1px rgba(255,255,255,0.2), 0 1px 2px darken(#ccc, 35%);
		img {
			margin: auto;
			max-height: 250px;
			max-width: 250px;
			position: absolute;
			top: 0;
			bottom: 0;
		}
	}
}
article.sponsors {
	.message {
		h2 {
			text-align: center;
		}
		.pure-u-3-5 {
			margin-left: auto;
			margin-right: auto;
			padding: 8px;
			text-align: center;
		}
	}
}

// Contact Page
