/* General Blueprint Style */
.timeline {
  color: #47a3da;
  /* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */ }
  .timeline *, .timeline *:after, .timeline *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .timeline body, .timeline html {
    font-size: 100%;
    padding: 0;
    margin: 0; }
  .timeline .clearfix:before, .timeline .clearfix:after {
    content: " ";
    display: table; }
  .timeline .clearfix:after {
    clear: both; }
  .timeline a:hover {
    color: #000; }
  .timeline .main,
  .timeline .container > header {
    width: 95%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em 3.125em; }
  .timeline .container > header {
    padding: 2.875em 1.875em 1.875em; }
  .timeline .container > header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0;
    float: left;
    font-weight: 400; }
  .timeline .container > header span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em; }
  .timeline .icon-drop:before,
  .timeline .icon-arrow-left:before {
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    color: #47a3da;
    -webkit-font-smoothing: antialiased;
    text-indent: 8000px;
    padding-left: 8px; }
  .timeline .icon-drop:before {
    content: "\e000"; }
  .timeline .icon-arrow-left:before {
    content: "\f060"; }
