// Constants and Colors
$footer_height: 150px;
$steel_gray: #2d2d2d;

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: $footer_height;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -$footer_height; /* negative value of footer height */
	height: $footer_height;
	clear:both;
} 

body {
	background-image: url(img/noisy_grid.png)
}

.nav {

	a {
		text-transform: uppercase;
	}
}

#footer {
	.pure-u-1-5 {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	background-color: $steel_gray;
	text-align: center;
	font-size: .9em;
	a {
		text-decoration: none;
		color: #555555;
	}
	ul {
		list-style-type: none;
	}
}

.bar {
	height: 10px;
	&.blue {
		background-color: #0E158C;
	}
	&.gold {
		background-color: #8C771B;
	}
}

.centerpiece {
	text-align: center;
	position: relative;
	top: -65px;
	img {
		width: 80px;
		height: 80px;
	}
}
.temp-spacer {
	width: 60px;
}

.page-title {
	background-color: #ccc;
	text-align: center;
	font-size: 1.3em;
	padding: 10px;
	font-weight: bold;

	.ucb {
		font-size: .85em;
		font-weight: normal;
	}
}
.pure-menu {
	text-align: center;
}
.team-pic {
	text-align: center;
}
